/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/
/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("../fonts/brandon_bld_0-webfont.woff2") format("woff2"), url("../fonts/brandon_bld_0-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("../fonts/brandon_reg-webfont.woff2") format("woff2"), url("../fonts/brandon_reg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body,
html {
  font-family: "brandon_grotesque_regularRg";
  width: 100%;
  height: 100%; }

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
  position: relative; }

ul,
ol {
  padding: 0;
  margin-bottom: 0; }

ol {
  margin-left: 1.1em; }

address {
  margin-bottom: 0; }

img {
  height: auto;
  max-width: 100%; }

.center-block {
  float: none; }

/*---------- Heading ----------*/
h1 {
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 700; }
  @media only screen and (max-width: 1499px) {
    h1 {
      font-size: 40px; } }

h2, h2 a {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700; }
  @media only screen and (max-width: 1499px) {
    h2, h2 a {
      font-size: 35px; } }

h3, h3 a {
  font-size: 28px;
  text-transform: uppercase; }
  @media only screen and (max-width: 1499px) {
    h3, h3 a {
      font-size: 22px; } }

h4, h4 a {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000; }
  @media only screen and (max-width: 1499px) {
    h4, h4 a {
      font-size: 19px; } }

h5, h5 a {
  font-size: 18px;
  font-weight: 400; }

h6, h6 a {
  font-size: 16px; }

p {
  font-size: 14px;
  font-family: "brandon_grotesque_regularRg";
  font-weight: 400;
  line-height: 2em;
  color: #7a7a7a; }

span {
  font-family: "brandon_grotesque_regularRg";
  font-size: 16px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-family: "brandon_grotesquebold";
  white-space: normal;
  word-break: break-all; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption {
  word-break: break-word;
  word-wrap: break-word; }

/*---------- Form ---------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
button[type="submit"] {
  font-family: "brandon_grotesque_regularRg";
  padding: 8px 15px;
  border: 1px solid #1a75bb;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-transform: capitalize;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 2.1em;
  background: #1a75bb;
  min-width: 147px;
  border-radius: 0;
  color: #ffffff; }

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
button[type="submit"]:hover,
button[type="submit"]:focus {
  border: 1px solid #1a75bb;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
  color: #1a75bb; }

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 0; }

input[type="text"] {
  text-transform: capitalize !important; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
.form-control {
  padding: 2px 20px;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "brandon_grotesquebold";
  text-transform: capitalize;
  color: #000000;
  font-size: 15px;
  border-color: #9d9d9d; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"],
    .form-control {
      font-size: 15px;
      padding: 2px 15px; } }

textarea.form-control {
  padding: 20px;
  resize: none; }
  @media only screen and (max-width: 1499px) {
    textarea.form-control {
      padding: 10px 15px; } }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
  height: 48px; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"] {
      height: 45px; } }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #1a75bb; }

.slick-slide {
  outline: none; }

.form-control::-webkit-input-placeholder {
  color: #9fa1a3; }

.form-control::-moz-placeholder {
  color: #9fa1a3; }

.form-control:-ms-input-placeholder {
  color: #9fa1a3; }

input:-moz-placeholder {
  color: #9fa1a3; }

/*---------- 2.1.3 Links ----------*/
a {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  ffont-family: "brandon_grotesquebold";
  font-weight: 400; }

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #1a75bb; }

/*---------- 2.2 Table -----------*/
table,
th,
td {
  border: 1px solid #eaeaea; }

table {
  width: 100%; }

th,
td {
  padding: 0.4375em; }

table,
dd,
address {
  margin: 0 0 1.75em; }

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
header .header-top {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  header .header-top .header-logo {
    -ms-flex-item-align: center;
    align-self: center; }
    header .header-top .header-logo a {
      display: inline-block; }
  header .header-top .header-content {
    -ms-flex-item-align: center;
    align-self: center; }
    header .header-top .header-content p {
      display: inline-block; }
  header .header-top .contact-info {
    -ms-flex-item-align: center;
    align-self: center; }
    header .header-top .contact-info span {
      display: inline-block;
      width: 55px;
      height: 55px;
      background: #1a75bb;
      text-align: center;
      border-radius: 100%;
      vertical-align: middle;
      padding: 10px;
      margin-right: 10px; }
    header .header-top .contact-info svg {
      height: 100%;
      width: 100%;
      fill: #ffffff; }
    header .header-top .contact-info a {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      color: #9fa1a3;
      font-family: 'brandon_grotesque_regularRg'; }
      header .header-top .contact-info a:hover {
        color: #1a75bb; }

header .header-bottom {
  background: #1a75bb; }
  header .header-bottom .navbar {
    padding: 0; }
    header .header-bottom .navbar .navbar-nav > li {
      margin: 0 13px; }
      header .header-bottom .navbar .navbar-nav > li > a {
        color: #ffffff;
        font-family: 'brandon_grotesquebold';
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        display: inline-block;
        padding: 0px;
        line-height: 4.3em; }
        @media only screen and (max-width: 1499px) {
          header .header-bottom .navbar .navbar-nav > li > a {
            font-size: 13px; } }
        header .header-bottom .navbar .navbar-nav > li > a:hover {
          color: #000000; }

/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/
/*------ Home Banner -----*/
.section-block-Banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 887px;
  position: relative; }
  @media only screen and (max-width: 1499px) {
    .section-block-Banner {
      height: 700px; } }
  .section-block-Banner .container {
    position: relative;
    height: 100%; }
  .section-block-Banner .section-element-Content {
    position: absolute;
    top: 18%;
    left: 0;
    width: 51%; }
    .section-block-Banner .section-element-Content h1 {
      color: #ffffff; }
      .section-block-Banner .section-element-Content h1 span {
        font-size: 56px;
        font-weight: 700;
        font-family: "brandon_grotesquebold";
        display: block;
        color: #1a75bb; }
        @media only screen and (max-width: 1499px) {
          .section-block-Banner .section-element-Content h1 span {
            font-size: 40px; } }
    .section-block-Banner .section-element-Content p {
      color: #ffffff;
      width: 67%;
      margin-bottom: 25px; }
    .section-block-Banner .section-element-Content .link-btn {
      font-size: 16px;
      color: #ffffff;
      display: inline-block;
      background: #1a75bb;
      width: 217px;
      line-height: 3.5em;
      text-align: center;
      border: 1px solid #1a75bb;
      text-transform: uppercase;
      font-family: "brandon_grotesquebold"; }
      .section-block-Banner .section-element-Content .link-btn:hover {
        background: #ffffff;
        color: #1a75bb; }

/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
.wrapper {
  overflow-x: hidden; }

svg.hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none; }

/*----- Common Style -----*/
.top_space {
  float: left;
  height: 0;
  position: relative;
  top: -150px;
  vertical-align: top; }

.section h2 {
  position: relative;
  text-align: center;
  margin-bottom: 25px; }
  .section h2:after {
    content: "";
    position: absolute;
    bottom: -22px;
    width: 56px;
    left: 0;
    right: 0;
    height: 5px;
    background: #161515;
    margin: 0 auto; }

/*----- Section-Block Statement -----*/
.section-block-Statement {
  background: #ffffff;
  text-align: center;
  padding: 75px;
  margin-top: -235px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 1499px) {
    .section-block-Statement {
      padding: 50px;
      margin-top: -183px; } }
  .section-block-Statement:hover {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  .section-block-Statement h2 {
    color: #161515;
    margin-bottom: 50px; }
  .section-block-Statement p {
    color: #171616;
    margin-bottom: 30px; }
  .section-block-Statement a {
    display: inline-block;
    color: #151414;
    font-size: 16px;
    border: 2px solid #151414;
    line-height: 3.5em;
    width: 216px;
    font-family: "brandon_grotesquebold";
    text-transform: uppercase; }
    .section-block-Statement a:hover {
      background: #151414;
      color: #ffffff; }

/*----- Section Block Service -----*/
.section-block-Service {
  padding: 100px 0px; }
  @media only screen and (max-width: 1499px) {
    .section-block-Service {
      padding: 60px 0px; } }
  .section-block-Service h2 {
    color: #ffffff;
    margin-bottom: 70px; }
    @media only screen and (max-width: 1499px) {
      .section-block-Service h2 {
        margin-bottom: 50px; } }
    .section-block-Service h2:after {
      background: #ffffff; }
  .section-block-Service .service-grid {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 8px; }
    .section-block-Service .service-grid:last-child {
      margin-bottom: 0px; }
    .section-block-Service .service-grid .featured-thumb {
      min-height: 150px;
      position: relative; }
      .section-block-Service .service-grid .featured-thumb img {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        margin: 0 auto; }
    .section-block-Service .service-grid h3 {
      color: #ffffff;
      margin-bottom: 20px;
      min-height: 66px; }
      @media only screen and (max-width: 1499px) {
        .section-block-Service .service-grid h3 {
          min-height: 50px; } }
    .section-block-Service .service-grid p {
      color: #ffffff; }
  .section-block-Service .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

/*----- Contact Information -----*/
.section-block-contactInfo {
  position: relative;
  background: #ffffff;
  overflow: hidden;
  padding: 100px 0px; }
  @media only screen and (max-width: 1499px) {
    .section-block-contactInfo {
      padding: 60px 0px; } }
  .section-block-contactInfo:before {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #051f47;
    top: 0; }
  .section-block-contactInfo .content-sec {
    float: left;
    width: 50%;
    position: relative;
    z-index: 2;
    padding-right: 72px; }
    .section-block-contactInfo .content-sec h2 {
      color: #ffffff;
      margin-bottom: 20px; }
    .section-block-contactInfo .content-sec p {
      color: #ffffff;
      margin-bottom: 0px; }
  .section-block-contactInfo .contact-info {
    float: right;
    width: 40%; }
    .section-block-contactInfo .contact-info h3 {
      font-size: 35px;
      margin-bottom: 30px; }
    .section-block-contactInfo .contact-info button {
      width: 100%; }

/*----- Map Section -----*/
.section-block-mainLocation {
  padding: 100px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media only screen and (max-width: 1499px) {
    .section-block-mainLocation {
      padding: 60px 0px; } }
  .section-block-mainLocation h2 {
    margin-bottom: 80px; }
  .section-block-mainLocation .map-wrap {
    overflow: hidden;
    margin-bottom: 10px;
    position: relative; }
    .section-block-mainLocation .map-wrap:last-child {
      margin-bottom: 0px; }
    .section-block-mainLocation .map-wrap .map-content {
      width: 35%;
      padding: 40px; }
      .section-block-mainLocation .map-wrap .map-content p {
        margin-bottom: 0px;
        color: #ffffff; }
      .section-block-mainLocation .map-wrap .map-content h3 {
        font-size: 34px;
        color: #ffffff; }
        @media only screen and (max-width: 1499px) {
          .section-block-mainLocation .map-wrap .map-content h3 {
            font-size: 24px; } }
    .section-block-mainLocation .map-wrap .sec-one {
      background: #1a75bb; }
    .section-block-mainLocation .map-wrap .sec-two {
      background: #051f47; }
    .section-block-mainLocation .map-wrap .sec-three {
      background: #9fa1a3; }
    .section-block-mainLocation .map-wrap .map-sec {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: calc(100% - 36%); }
      .section-block-mainLocation .map-wrap .map-sec iframe {
        width: 100%;
        height: 100%;
        display: block; }

/*----- Testimonial Section -----*/
.section-block-Testimonial {
  padding: 70px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center; }
  @media only screen and (max-width: 1499px) {
    .section-block-Testimonial {
      padding: 50px 0px; } }
  .section-block-Testimonial h2 {
    margin-bottom: 50px;
    color: #ffffff; }
    .section-block-Testimonial h2:after {
      background: #ffffff; }
  .section-block-Testimonial p {
    color: #ffffff;
    width: 70%;
    margin: 0 auto 30px; }
  .section-block-Testimonial h5 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0px; }
  .section-block-Testimonial span {
    font-size: 12px;
    color: #ffffff; }

/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
.footer-wrapper {
  background: #051f47;
  padding: 90px 0px;
  overflow-x: hidden; }
  @media only screen and (max-width: 1499px) {
    .footer-wrapper {
      padding: 60px 0px; } }
  .footer-wrapper .container {
    overflow: hidden; }
  .footer-wrapper .map-sec {
    width: 30%;
    height: 308px;
    float: left;
    margin-right: 20px; }
    .footer-wrapper .map-sec iframe {
      height: 100%;
      width: 100%; }
  .footer-wrapper .form-sec {
    width: 35%;
    float: left;
    margin-right: 30px; }
    .footer-wrapper .form-sec h3 {
      color: #ffffff;
      font-size: 28px; }
    .footer-wrapper .form-sec form .form-group {
      margin-bottom: 10px; }
    .footer-wrapper .form-sec form .form-control {
      height: 35px; }
    .footer-wrapper .form-sec form textarea.form-control {
      height: 84px;
      padding: 10px 20px; }
      @media only screen and (max-width: 1499px) {
        .footer-wrapper .form-sec form textarea.form-control {
          padding: 5px 15px; } }
    .footer-wrapper .form-sec form button {
      width: 100%;
      line-height: 1em; }
  .footer-wrapper .contact-info {
    float: left;
    width: 29%; }
    .footer-wrapper .contact-info .logo {
      display: inline-block;
      margin-bottom: 20px; }
    .footer-wrapper .contact-info h3 {
      font-size: 28px;
      color: #ffffff; }
    .footer-wrapper .contact-info .contact-sec {
      display: block;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px; }
      .footer-wrapper .contact-info .contact-sec a, .footer-wrapper .contact-info .contact-sec span {
        color: #ffffff;
        font-size: 17px; }
      .footer-wrapper .contact-info .contact-sec a, .footer-wrapper .contact-info .contact-sec span:nth-child(2) {
        padding-left: 42px; }
      .footer-wrapper .contact-info .contact-sec a:hover {
        opacity: 0.5; }
    .footer-wrapper .contact-info .contact-info-sec {
      margin-bottom: 10px; }
      .footer-wrapper .contact-info .contact-info-sec span:first-child {
        height: 25px;
        width: 25px;
        display: inline-block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0; }
      .footer-wrapper .contact-info .contact-info-sec svg {
        height: 100%;
        width: 100%;
        fill: #ffffff; }
    .footer-wrapper .contact-info .social-share li a {
      color: #051f47;
      display: inline-block;
      background: #ffffff;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      font-size: 18px;
      text-align: center;
      padding: 2px; }
  .footer-wrapper .copyright-sec {
    width: 100%;
    overflow: hidden;
    padding-top: 60px;
    text-align: center;
    margin: 0 auto; }
    .footer-wrapper .copyright-sec span {
      color: #ffffff;
      font-size: 10px;
      text-transform: uppercase; }

/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/
@media only screen and (min-width: 1500px) {
  .container {
    max-width: 950px; } }
