/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.section-block-Banner {
    @include background(center, cover);
    height: 887px;
    position: relative;
    @include breakpoint(x-normal) {
       height: 700px;
    }
    .container {
        position: relative;
        height: 100%;
    }
    .section-element-Content {
        position: absolute;
        top: 18%;
        left: 0;
        width: 51%;
        h1 {
            color: $color-white;
            span {
                font-size: 56px;
                font-weight: $font-weight-bold;
                font-family: $font-family-bold;
                display: block;
                color: $color-blue;
                @include breakpoint(x-normal) {
                   font-size: 40px;
                }
            }
        }
        p {
            color: $color-white;
            width: 67%;
            margin-bottom: 25px;
        }
        .link-btn {
            font-size: 16px;
            color: $color-white;
            display: inline-block;
            background: $color-blue;
            width: 217px;
            line-height: 3.5em;
            text-align: center;
            border: 1px solid $color-blue;
            text-transform: $text-uppercase;
            font-family: $font-family-bold;
            &:hover {
                background: $color-white;
                color: $color-blue;
            }
        }
    }
}