/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    background: $color-purple;
    padding: 90px 0px;
    overflow-x: hidden;
    @include breakpoint(x-normal) {
       padding: 60px 0px;
    }
    .container {
        overflow: hidden;
    }
    .map-sec {
        width: 30%;
        height: 308px;
        float: left;
        margin-right: 20px;
        iframe {
            height: 100%;
            width: 100%;
        }
    }
    .form-sec {
        width: 35%;
        float: left;
        margin-right: 30px;
        h3 {
            color: $color-white;
            font-size: 28px;
        }
        form {
            .form-group {
                margin-bottom: 10px;
            }
            .form-control {
                height: 35px;
            }
            textarea.form-control {
                height: 84px;
                padding: 10px 20px; 
                @include breakpoint(x-normal) {
                   padding: 5px 15px; 
                }
            }
            button {
                width: 100%;
                line-height: 1em;
            }
        }
    }
    .contact-info {
        float: left;
        width: 29%;
        .logo {
            display: inline-block;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 28px;
            color: $color-white;
        }
        .contact-sec {
            display: block;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
            a , span {
                color: $color-white;
                font-size: 17px;
            }
            a, span:nth-child(2) {
                padding-left: 42px;
            }
            a {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
        .contact-info-sec {
            margin-bottom: 10px;
            span {
                &:first-child {
                    height: 25px;
                    width: 25px;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
            }
            svg {
                height: 100%;
                width: 100%;
                fill:  $color-white;
            }
        }
        .social-share {
            li {
                a {
                    color: $color-purple;
                    display: inline-block;
                    background: $color-white;
                    border-radius: 100%;
                    height: 30px;
                    width: 30px;
                    font-size: 18px;
                    text-align: center;
                    padding: 2px;
                }
            }
        }
    }
    .copyright-sec {
        width: 100%;
        overflow: hidden;
        padding-top: 60px;
        text-align: center;
        margin: 0 auto;
        span {
            color: $color-white;
            font-size: 10px;
            text-transform: $text-uppercase;
        }
    }
}