/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

header {
    .header-top {
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;
        .header-logo {
            align-self: center;
            a {
                display: inline-block;
            }
        }
        .header-content {
            align-self: center;
            p {
                display: inline-block;
            }
        }
        .contact-info {
            align-self: center;
            span {
                display: inline-block;
                width: 55px;
                height: 55px;
                background: $color-blue;
                text-align: center;
                border-radius: 100%;
                vertical-align: middle;
                padding: 10px;
                margin-right: 10px;
            }
            svg {
                height: 100%;
                width: 100%;
                fill: $color-white;
            }
            a {
                display: inline-block;
                vertical-align: middle;
                font-size: 16px;
                color: $color-grey;
                font-family: 'brandon_grotesque_regularRg';
                &:hover {
                    color: $color-blue;
                }
            }
        }
    }
    .header-bottom {
        background: $color-blue;
        .navbar {
            padding: 0;
            .navbar-nav {
                >li {
                    margin: 0 13px;
                    >a {
                        color: $color-white;
                        font-family: 'brandon_grotesquebold';
                        font-weight: $font-weight-bold;
                        font-size: 15px;
                        text-transform: uppercase;
                        display: inline-block;
                        padding: 0px;
                        line-height: 4.3em;
                        @include breakpoint(x-normal) {
                            font-size: 13px;
                        }
                        &:hover {
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}