/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
.wrapper {
    overflow-x: hidden;
}
svg.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/*----- Common Style -----*/

.top_space {
    float: left;
    height: 0;
    position: relative;
    top: -150px;
    vertical-align: top;
}

.section {
    h2 {
        position: relative;
        text-align: center;
        margin-bottom: 25px;
        &:after {
            content: "";
            position: absolute;
            bottom: -22px;
            width: 56px;
            left: 0;
            right: 0;
            height: 5px;
            background: #161515;
            margin: 0 auto;
        }
    }
}

/*----- Section-Block Statement -----*/

.section-block-Statement {
    background: $color-white;
    text-align: center;
    padding: 75px;
    margin-top: -235px;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.5);
    @include breakpoint(x-normal) {
       padding: 50px;
        margin-top: -183px;
    }
    &:hover {
        transform: translateY(-20px);
    }
    h2 {
        color: #161515;
        margin-bottom: 50px;
    }
    p {
        color: #171616;
        margin-bottom: 30px;
    }
    a {
        display: inline-block;
        color: #151414;
        font-size: 16px;
        border: 2px solid #151414;
        line-height: 3.5em;
        width: 216px;
        font-family: $font-family-bold;
        text-transform: $text-uppercase;
        &:hover {
            background: #151414;
            color: $color-white;
        }
    }
}

/*----- Section Block Service -----*/

.section-block-Service {
    padding: 100px 0px;
    @include breakpoint(x-normal) {
       padding: 60px 0px;
    }
    h2 {
        color: $color-white;
        margin-bottom: 70px;
        @include breakpoint(x-normal) {
           margin-bottom: 50px;
        }
        &:after {
            background: $color-white;
        }
    }
    .service-grid {
        text-align: center;
        margin-bottom: 40px;
        padding: 0 8px;
        &:last-child {
            margin-bottom: 0px;
        }
        .featured-thumb {
            min-height: 150px;
            position: relative;
            img {
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                margin: 0 auto;
            }
        }
        h3 {
            color: $color-white;
            margin-bottom: 20px;
            min-height: 66px;
            @include breakpoint(x-normal) {
               min-height: 50px;
            }
        }
        p {
            color: $color-white;
        }
    }
    .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/*----- Contact Information -----*/

.section-block-contactInfo {
    position: relative;
    background: $color-white;
    overflow: hidden;
    padding: 100px 0px;
    @include breakpoint(x-normal) {
       padding: 60px 0px;
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background: $color-purple;
        top: 0;
    }
    .content-sec {
        float: left;
        width: 50%;
        position: relative;
        z-index: 2;
        padding-right: 72px;
        h2 {
            color: $color-white;
            margin-bottom: 20px;
        }
        p {
            color: $color-white;
            margin-bottom: 0px;
        }
    }
    .contact-info {
        float: right;
        width: 40%;
        h3 {
            font-size: 35px;
            margin-bottom: 30px;
        }
        button {
            width: 100%;
        }
    }
}

/*----- Map Section -----*/

.section-block-mainLocation {
    padding: 100px 0px;
    @include background(center center, cover);
    @include breakpoint(x-normal) {
       padding: 60px 0px;
    }
    h2 {
        margin-bottom: 80px;
    }
    .map-wrap {
        overflow: hidden;
        margin-bottom: 10px;
        position: relative;
        &:last-child {
            margin-bottom: 0px;
        }
        .map-content {
            width: 35%;
            padding: 40px;
            p {
                margin-bottom: 0px;
                color: $color-white;
            }
            h3 {
                font-size: 34px;
                color: $color-white;
                @include breakpoint(x-normal) {
                    font-size: 24px;
                }
            }
        }
        .sec-one {
            background: $color-blue;
        }
        .sec-two {
            background: $color-purple;
        }
        .sec-three {
            background: $color-grey;
        }
        .map-sec {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: calc(100% - 36%);
            iframe {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}

/*----- Testimonial Section -----*/

.section-block-Testimonial {
    padding: 70px 0px;
    @include background(center center, cover);
    @include breakpoint(x-normal) {
        padding: 50px 0px;
    }
    text-align: center;
    h2 {
        margin-bottom: 50px;
        color: $color-white;
        &:after {
            background: $color-white;
        }
    }
    p {
        color: $color-white;
        width: 70%;
        margin: 0 auto 30px;
    }
    h5 {
        font-size: 20px;
        color: $color-white;
        margin-bottom: 0px;
    }
    span {
        font-size: 12px;
        color: $color-white;
    }
}