//  Variables Sections  //

//Colors
$color-white: #ffffff;
$black: #000000;
$color-blue: #1a75bb;
$color-grey: #7a7a7a;
$color-purple: #051f47;
$color-grey: #9fa1a3;
$bdr-clr: #9d9d9d;

//Font Family 
$font-family-reg: 'brandon_grotesque_regularRg';
$font-family-bold: 'brandon_grotesquebold';

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;